# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build output
dist/
build/

# Coverage reports
coverage/

# Misc
*.tgz
